.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 320px) {
  .wrapper {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    padding: 0 30px;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
body {
  font-family: Lato, sans-serif;
  font-display: swap;
  font-size: 62.5%;
  line-height: 1.6;
}

h1 {
  font-size: calc(1.8rem + .9vw);
}

h2 {
  font-size: calc(1.4rem + .5vw);
}

h3 {
  font-size: calc(1.1rem + .4vw);
}

h4 {
  font-size: calc(.9rem + .3vw);
}

a, i, label, p, ul {
  font-size: calc(.9rem + .2vw);
  line-height: 2.2rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.arrow {
  position: relative;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 50px;
  z-index: 50;
  text-align: center;
  -webkit-animation: animate 3.5s infinite;
  animation: animate 3.5s infinite;
}

@media (max-width: 1024px) {
  .arrow {
    display: none;
  }
}
.arrow__left, .arrow__right {
  display: inline-block;
  position: relative;
  width: 5px;
  height: 30px;
  background: #1b1d20;
  line-height: 50px;
  transform: rotate(-40deg);
  transition: transform 0.3s, background 0.3s;
}

.arrow__right {
  transform: rotate(40deg);
  left: 5px;
}

.arrow__left {
  right: 5px;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  45% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  45% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.author {
  text-align: center;
  padding-bottom: 50px;
}

.author, .author__link {
  font-size: calc(.9rem + .4vw);
}

.author__link {
  color: #bebdbc;
}

.author__link:hover {
  color: #8cafce;
}

.background {
  height: 400px;
  background-image: url(../images/construction-worker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.background, .background:before {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
}

.background:before {
  content: "";
  left: 0;
  height: 100%;
  background: #fff;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.45) 15%, rgba(255, 255, 255, 0.45) 70%, #fff);
  z-index: -1;
}

@media (min-width: 480px) {
  .background {
    height: 500px;
  }
}
@media (min-width: 768px) {
  .background {
    height: 600px;
  }
}
@media (min-width: 1025px) {
  .background {
    position: absolute;
    left: 45%;
    top: -60px;
    width: 55%;
    height: 700px;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    z-index: 10;
  }

  .background:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
@media (min-width: 1440px) {
  .background {
    top: -60px;
    width: 55%;
    height: 1020px;
  }
}
.btn__box {
  display: flex;
  justify-content: flex-start;
}

.btn, .btn--contact {
  font-size: calc(.9rem + .2vw);
  display: inline-block;
  width: 180px;
  height: 55px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  transition: transform 0.3s, background 0.3s, color 0.3s;
  cursor: pointer;
}

.btn--primary, .btn--secondary {
  position: relative;
  background: #1b1d20;
  color: #fbfbfb;
  margin-top: 15px;
  margin-bottom: 50px;
  z-index: 10;
  text-transform: uppercase;
}

.btn--primary:hover, .btn--secondary:hover {
  background: #8cafce;
  color: #fff;
}

.btn--secondary {
  display: none;
  background: #bebdbc;
  color: #1b1d20;
}

.btn--secondary:hover {
  background: #8cafce;
  color: #fff;
}

.btn--phone {
  width: 250px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  top: 5px;
  background: #fff;
  color: #1b1d20;
  font-weight: 400;
}

.btn--phone:focus, .btn--phone:hover {
  text-decoration: none;
  background: #1b1d20;
  color: #fff;
}

@media (min-width: 2560px) {
  .btn--phone {
    width: 350px;
  }
}
@media (min-width: 480px) {
  .btn--primary, .btn--secondary {
    width: 200px;
    margin-right: 20px;
  }
}
@media (min-width: 1025px) {
  .btn, .btn--contact {
    display: block;
  }

  .btn--primary, .btn--secondary {
    margin-right: 30px;
  }
}
.btn--contact {
  position: fixed;
  background: #1b1d20;
  width: 50px;
  height: 50px;
  bottom: 15px;
  right: 10px;
  border-radius: 50%;
  z-index: 100;
  transition: opacity 1s;
  box-shadow: 0 8px 8px -5px #1b1d20;
}

.btn--contact .icon__phone {
  color: #fff;
  line-height: 50px;
  font-size: 30px;
}

@media (min-width: 1024px) {
  .btn--contact {
    display: none;
  }
}
.color {
  color: #fbfbfb;
}

.upper {
  position: relative;
  width: 100%;
  height: 100%;
}

.upper, .wrap {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-direction: column;
  width: 50%;
}

.bground {
  background: #1b1d20;
}

.bground, .slide {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide {
  background: #fff;
  transform: translateX(-100%);
}

.logo__enter {
  position: absolute;
  z-index: 1100;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

@media (min-width: 768px) {
  .logo__enter {
    width: 250px;
  }
}
.hamburger {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 500;
  outline: transparent;
}

.hamburger__name {
  display: none;
}

@media (min-width: 1025px) {
  .hamburger {
    position: relative;
    top: 42px;
  }

  .hamburger__name {
    font-size: calc(.7rem + .6vw);
    display: inline-block;
    color: #1b1d20;
    font-weight: 700;
    position: relative;
    padding-right: 10px;
    bottom: 4px;
    left: 10px;
    letter-spacing: 1px;
  }

  .hamburger .hamcolor {
    color: #fff;
  }
}
.hide {
  opacity: 0 !important;
  transition: opacity 0.2s;
}

.hide, .hide-quick {
  pointer-events: none;
}

.hide-quick {
  opacity: 0;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.links {
  padding-bottom: 50px;
  text-align: center;
}

.links__element {
  font-size: calc(.9rem + .4vw);
  color: #bebdbc;
}

.links__element:hover {
  color: #8cafce;
}

.links__info {
  font-size: calc(.9rem + .4vw);
  color: #fff;
}

.lock {
  overflow-y: hidden;
}

.logo {
  position: relative;
  width: 150px;
  z-index: 100;
}

@media (min-width: 1025px) {
  .logo {
    position: absolute;
    width: 175px;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.phone {
  display: none;
}

@media (min-width: 1025px) {
  .phone {
    font-size: calc(.9rem + .6vw);
    position: absolute;
    right: 30px;
    opacity: 0;
  }

  .phone:hover > .phone__icon {
    color: #fff;
  }

  .phone__icon {
    font-size: calc(.7rem + .6vw);
    margin-right: 10px;
    color: #1b1d20;
    transition: color 0.3s;
  }
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-top: 75px;
}

.textbox__small {
  font-size: calc(.9rem + .8vw);
  line-height: 2rem;
  padding-bottom: 30px;
  text-align: left;
  font-weight: 400;
  max-width: 700px;
}

.textbox__big {
  font-size: calc(2.5rem + .2vw);
  position: relative;
  line-height: 3.6rem;
  color: #1b1d20;
  padding-bottom: 30px;
  font-weight: 900;
}

@media (max-width: 320px) {
  .textbox__big {
    font-size: calc(2rem + .2vw);
  }
}
@media (min-width: 480px) {
  .textbox__small {
    font-size: calc(.9rem + .5vw);
  }

  .textbox__big {
    font-size: calc(1.5rem + 1vw);
  }
}
@media (min-width: 768px) {
  .textbox {
    padding-top: 150px;
  }

  .textbox__big {
    font-size: calc(3rem + .8vw);
  }

  .textbox__small {
    width: 75%;
  }
}
@media (min-width: 1025px) {
  .textbox {
    position: relative;
    width: 50%;
    justify-content: flex-start;
    height: 640px;
    letter-spacing: 1px;
    padding-top: 75px;
  }

  .textbox__small {
    font-size: calc(.7rem + .5vw);
    line-height: 2.2rem;
    padding-bottom: 30px;
    width: 100%;
  }

  .textbox__big {
    font-size: calc(2rem + 1vw);
    line-height: 3.5rem;
    padding-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .textbox {
    justify-content: center;
    height: 960px;
    top: 0;
    padding-top: 0;
  }

  .textbox__small {
    font-size: calc(.9rem + .4vw);
    line-height: 2.5rem;
    padding-bottom: 50px;
    width: 100%;
  }

  .textbox__big {
    font-size: calc(3rem + 1vw);
    line-height: 4.5rem;
    padding-bottom: 50px;
  }
}
.top {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 100;
}

@media (min-width: 1025px) {
  .top {
    background: transparent;
  }
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
  text-align: left;
  color: #1b1d20;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  transition: background 0.5s, color 0.5s;
  z-index: 50;
}

.box:hover {
  background: #1b1d20;
  color: #fbfbfb;
}

.box:hover > .box__wrap {
  padding-top: 10px;
}

.box__name {
  font-size: calc(1.5rem + .5vw);
  padding-top: 30px;
  text-align: left;
}

.box__content {
  font-size: calc(.9rem + .4vw);
  padding-top: 30px;
  padding-bottom: 20px;
}

.box__icon {
  font-size: 48px;
  padding-top: 30px;
}

.box__wrap {
  padding-top: 10px;
  transition: padding-top 0.5s;
}

@media (min-width: 320px) {
  .box {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .box {
    width: 400px;
    height: 400px;
  }

  .box__name {
    font-size: calc(1.2rem + 1vw);
  }
}
@media (min-width: 1025px) {
  .box {
    padding: 20px 30px;
  }

  .box__name {
    font-size: calc(1.2rem + .4vw);
  }

  .box__content {
    font-size: calc(.9rem + .2vw);
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .box {
    width: 400px;
    height: 400px;
    padding: 20px 30px;
  }
}
.hero {
  position: relative;
  top: 60px;
  background: #fff;
  color: #1b1d20;
}

.map {
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .map {
    height: 350px;
  }
}
@media (min-width: 1025px) {
  .map {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .map {
    height: 500px;
  }
}
.navigation__list {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-top: 150px;
  top: 0;
  left: 0;
  line-height: 3rem;
  width: 100vw;
  height: 100vh;
  background: #1b1d20;
  list-style: none;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
}

.navigation .menu-active {
  opacity: 1;
  pointer-events: all;
}

.navigation__item-link {
  font-size: calc(1.5rem + 1vw);
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 3.5rem;
  color: #fbfbfb;
  padding: 0 0 0 15px;
  letter-spacing: 2px;
  transition: color 0.5s;
}

.navigation__item-link:after {
  content: "";
  display: block;
  position: absolute;
  position: relative;
  right: 6%;
  bottom: 26px;
  width: 0;
  height: 3px;
  transition: width 0.3s, background-color 0.3s;
}

.navigation__item-link:hover:after {
  background-color: #bebdbc;
  width: 4%;
}

.navigation__item-link:focus, .navigation__item-link:hover {
  color: #bebdbc;
}

@media (min-width: 480px) {
  .navigation__item-link {
    font-size: calc(2rem + .6vw);
    line-height: 4rem;
  }
}
@media (min-width: 768px) {
  .navigation__list {
    padding-top: 150px;
  }

  .navigation__item-link {
    padding: 0 0 0 30px;
    line-height: 4rem;
  }
}
@media (min-width: 1025px) {
  .navigation__item {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }

  .navigation__item-link {
    font-size: calc(1.5rem + .6vw);
    padding: 0 50px;
    letter-spacing: 2px;
    line-height: 4rem;
  }
}
@media (min-width: 1440px) {
  .navigation__item-link {
    font-size: calc(2rem + .6vw);
    padding: 0 30px;
    letter-spacing: 4px;
    line-height: 5rem;
  }
}
.splide {
  margin: 0 auto;
}

.splide__arrow > svg {
  fill: #1b1d20 !important;
}

.splide__pagination__page {
  margin: 0 10px !important;
  visibility: hidden;
}

.splide__pagination__page.is-active {
  background: #1b1d20 !important;
}

@media (min-width: 768px) {
  .splide {
    position: relative;
  }
}
@media (min-width: 1025px) {
  .splide {
    margin-right: 0;
  }

  .splide__track {
    padding: 30px 0;
  }
}
.title {
  font-size: calc(2.5rem + .8vw);
  font-weight: 700;
  line-height: 3.2rem;
  color: #1b1d20;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .title {
    font-size: calc(2.5rem + .8vw);
  }
}
@media (min-width: 1025px) {
  .title {
    font-size: calc(2rem + 1vw);
    padding-bottom: 50px;
  }
}
.navbar {
  padding-bottom: 50px;
}

.navbar__list {
  list-style: none;
}

.navbar__item {
  text-align: center;
}

.navbar__item-link {
  color: #bebdbc;
  font-size: calc(.9rem + .4vw);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.navbar__item-link:hover {
  color: #8cafce;
}

#about:target {
  scroll-margin-top: -170px;
}

.about {
  position: relative;
  top: -200px;
  padding: 10px 0;
  height: 100%;
  background: url(../images/background-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: 10;
  filter: grayscale(50%);
}

.about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.6) 80%, #fff);
  z-index: -1;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
}

.about__title {
  padding-bottom: 30px;
}

.about__content, .about__title {
  position: relative;
  top: 250px;
  color: #1b1d20;
}

.about__content {
  margin: 30px 0;
}

.about__logo {
  display: none;
}

@media (min-width: 768px) {
  .about {
    padding: 50px 0;
  }

  .about__title {
    padding-bottom: 50px;
  }

  .about__content {
    margin: 0 auto;
    max-width: 70%;
  }
}
@media (min-width: 1025px) {
  .about {
    position: relative;
    padding: 150px 0;
    top: -300px;
  }

  .about__content {
    width: 60%;
    line-height: 2.5rem;
    margin: 0 auto;
    top: 200px;
  }

  .about__title {
    top: 200px;
  }
}
#contact:target {
  scroll-margin-top: 60px;
}

.contact__title {
  padding-bottom: 30px;
}

.contact__icon {
  font-size: 36px;
  padding-right: 20px;
  color: #1b1d20;
}

.contact__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  min-height: 125px;
}

.contact .boxOne {
  padding-bottom: 50px;
}

.contact .boxOne, .contact__box {
  display: flex;
  flex-direction: column;
}

.contact__box {
  padding: 10px 0;
}

.contact__box--address, .contact__box--mail, .contact__box--phone {
  font-size: calc(1.5rem + .5vw);
  color: #1b1d20;
}

@media (min-width: 768px) {
  .contact__icon {
    font-size: 40px;
    color: #1b1d20;
  }

  .contact__box--address, .contact__box--mail, .contact__box--phone {
    font-size: calc(1.5rem + .8vw);
  }
}
@media (min-width: 1025px) {
  .contact {
    padding: 150px 0 30px;
  }

  .contact .boxOne {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .contact__wrap {
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    padding: 20px 50px;
    transition: background 0.3s;
  }

  .contact__wrap:hover {
    background: #1b1d20;
    cursor: pointer;
  }

  .contact__wrap:hover .contact__content {
    color: #fff;
    cursor: pointer;
  }

  .contact__wrap:hover .contact__icon {
    color: #fff;
  }

  .contact__title {
    padding-bottom: 30px;
  }

  .contact__content, .contact__icon {
    transition: color 0.3s;
  }

  .contact__icon {
    font-size: 48px;
  }

  .contact__box {
    padding: 50px 0;
  }

  .contact__box--address, .contact__box--mail, .contact__box--phone {
    font-size: calc(1.2rem + .8vw);
  }
}
@media (min-width: 2560px) {
  .contact__wrap {
    padding: 20px 30px;
  }

  .contact__box--address, .contact__box--mail, .contact__box--phone {
    font-size: calc(1.2rem + .5vw);
  }
}
.footer {
  background: #1b1d20;
  color: #bebdbc;
  height: 100%;
  padding: 50px 0;
}

.footer__company {
  font-size: calc(.9rem + .4vw);
  text-align: center;
  padding-bottom: 50px;
}

.footer__title {
  font-size: calc(1.2rem + .4vw);
  padding-bottom: 30px;
  font-weight: 700;
}

.footer__info, .footer__title {
  text-transform: uppercase;
  color: #bebdbc;
  text-align: center;
}

.footer__info {
  font-size: calc(.9rem + .4vw);
}

@media (min-width: 768px) {
  .size {
    width: 40%;
  }

  .footer {
    padding: 100px 0 50px;
  }

  .footer__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1025px) {
  .size {
    width: 24%;
  }
}
#gallery:target {
  scroll-margin-top: 30px;
}

.gallery {
  position: relative;
  padding: 75px 0;
}

.gallery__title {
  padding-bottom: 75px;
}

@media (min-width: 768px) {
  .gallery {
    padding: 150px 0;
  }

  .gallery__title {
    padding-bottom: 75px;
  }
}
@media (min-width: 1025px) {
  .gallery {
    position: relative;
    display: flex;
    padding: 75px 0 30px;
  }

  .gallery__title {
    font-size: calc(2rem + 1vw);
    display: inline-block;
    margin: 0 auto;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
@media (min-width: 1025px) {
  .header {
    min-height: 100%;
  }
}
#news:target {
  scroll-margin-top: 30px;
}

.news {
  padding-top: 50px;
  padding-bottom: 20px;
}

.news__title {
  padding-bottom: 50px;
}

.news__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.news__box {
  position: relative;
  width: 420px;
  max-height: 720px;
  margin-bottom: 50px;
}

.news__image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.news__name {
  padding-bottom: 20px;
}

.news__content {
  display: inline-block;
  overflow: hidden;
  max-height: 40%;
}

.news__data {
  display: inline-block;
  padding-bottom: 10px;
}

.news__more {
  font-size: calc(.7rem + .2vw);
  display: inline-block;
  text-align: center;
  line-height: 40px;
  position: relative;
  bottom: -20px;
  width: 100px;
  height: 40px;
  background: #1b1d20;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  transition: background 0.3s;
}

.news__more:focus, .news__more:hover {
  background: #8cafce;
}

@media (min-width: 480px) {
  .news__box {
    padding: 15px 20px;
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .news {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .news__box {
    margin-bottom: 75px;
  }
}
#services:target {
  scroll-margin-top: -30px;
}

.services {
  position: relative;
  background: #fff;
  padding: 75px 0 50px;
}

.services__title {
  padding-bottom: 20px;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .services {
    padding: 100px 0 75px;
  }

  .services__title {
    padding: 50px 0;
  }
}
@media (min-width: 1025px) {
  .services {
    padding: 160px 0 150px;
  }

  .services__title {
    padding-bottom: 50px;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active:hover, .hamburger:hover {
  opacity: 0.8;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 40px;
  height: 4px;
  background-color: #1b1d20;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner:after, .hamburger-inner:before {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s linear 0.13s;
}

.hamburger--spring .hamburger-inner:before {
  top: 10px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner:after {
  top: 20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}